body
{
	background-color: #fdfdfd;

	margin: 0 auto;
	max-width: 50em;
	padding-left: 1em;
	padding-right: 1em;

	text-align: justify;
	text-align-last: left;

	font-family: 'Lato', sans-serif;
	line-height: 1.4
}

a
{
	text-decoration: none;
	color: #2A5E94;
}

a:hover
{
	text-decoration: underline;
}

h1, h2, h3
{
	font-family: 'Merriweather', serif;
	font-weight: 300;
}

figure
{
	margin: auto;
}

figure.float-right {
	float: right;
	margin-left: 2em;
}

/* site */

header.site
{
	border-bottom: 1px solid #cee2eb;
	margin-bottom: 1em;
}

footer.site {
	border-top: 1px solid #cee2eb;
	margin-top: 1em;
	clear: both;
}

.site h1
{
	font-size: 40pt;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline
}

.site h1 span:last-child
{
	font-size: large;
}

.site h1 a,
.site h1 a:visited
{
	color: #122741;
}

.site h1 a:hover,
.site h1 a:active
{
	text-decoration: none;
	color: #255187;
}

/* https://stackoverflow.com/a/48752954 */
.site nav ul > *
{
	margin: 0.25em 0.5em;
}

.site nav ul
{ 
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	margin: -0.25em -0.5em;
}

.site nav li
{
	display: inline;
	white-space: nowrap;
	font-size: larger;
}
