body {
	font-family: 'Merriweather', serif;
	font-size: 12pt;
	background-color: #fdfdfd;
	margin-left: 1em;
	margin-right: 1em;
}

a {
	text-decoration: none;
	color: #2A5E94;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #4293E8;
}

/* article */

article {
	margin-bottom: 3em;
}

article h1 {
	color: #122741;
}

/* header */

header.site {
	border-bottom: 1px solid #CEE2EB;
	margin-bottom: 1em;
}

header.site p {
	margin-bottom: 0.5em;
	max-width: 36em;
	color: #333;
}

header.site h1 {
	font-weight: 300;
	font-size: 40pt;
	margin-top: 0;
	margin-bottom: 0.3em;
}

header.site h1 a,
header.site h1 a:visited,
article h1 a {
	color: #122741;
}

header.site h1 a:hover,
header.site h1 a:active,
article h1 a:hover,
article h1 a:active {
	text-decoration: none;
	color: #255187;
}

/* footer */

footer.site {
	border-top: 1px solid #CEE2EB;
	padding-top: 0.5em;
}

.pagination {
	text-align: center;
}

footer.site {
	margin-top: 1em;
}

footer.site a:hover {
	text-decoration: none;
}

footer.site ul.nav { 
	list-style: none;
	padding-left: 0;
	display: table;
	margin: 0 auto;
}

footer.site ul.nav li {
	display: inline;
}

footer.site ul.nav { 
	list-style: none;
	padding-left: 0;
	display: table;
	margin: 0 auto;
}

footer.site ul.nav li {
	display: inline;
	padding-left: 0.5em;
}

footer.site li.license {
	white-space: nowrap;
}
