<header class="site">
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <p>The website of James Shaw, a postdoctoral researcher at <a href="https://www.sheffield.ac.uk/civil/water">The University of Sheffield</a> developing mathematical methods for flood simulators</p>

  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/software/">Software</a></li>
      <li><a href="{{ site.baseurl }}/cv/">Curriculum vitae</a></li>
      <li><a href="{{ site.baseurl }}/about/">About me</a></li>
    </ul>
  </nav>
</header>
