<header class="site">
  <h1>
  <span><a href="{{ site.baseurl }}/">{{ site.title }}</a></span>
  <span>The website of James Shaw</span>
  </h1>

  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
      {% comment %}
      <li>Curriculum Vitae</li>
      {% endcomment %}
      <li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
      <li><a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
    </ul>
  </nav>
</header>
