---
layout: default
---
<article>
<header>
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date: "%-d %B %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>

{{ content }}

<div class="social">{% include tweet.html %}</div>

{% if page.comments %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = '{{ site.disqus_shortname }}';
      
      var disqus_config = function () {
          this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}";
          this.page.identifier = '{{ page.disqus_id | default: page.url }}';
          this.page.title = '{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}';
      };
      (function() {
          var d = document, s = d.createElement('script');
          
          s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
</article>

</div>
